{{ define "main" }}

<div class="container">
  <div class="row">

    <div class="col col-12">
      <div class="page-head">
        <h1 class="page-title">{{ .Title }}</h1>
        {{ if .Description }}
        <p class="page-description">{{ .Description }}</p>
        {{ end }}
      </div>
    </div>

    {{ if .Params.image }}
    <div class="col col-12">
      <div class="page-image animate">
        <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
      </div>
    </div>
    {{ end }}

  </div>
</div>

<!-- begin page -->
<div class="container animate">
  <article class="page">
    <div class="page__content">
      <div class="form-box">
        <div class="contact-head">
          {{ if .Content }}
            <div class="contact-description">{{ .Content }}</div>
          {{ end }}
        </div>
        {{ partial "newsletter.html" . }}
        </form>
      </div>
    </div>
  </article>
</div>
<!-- end page -->

{{ end }}