{{ if .Site.Params.hero.enable }}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">
            <div class="hero__image">
              <img class="lazy" data-src="{{ .Site.Params.hero.hero__image }}" alt="{{.Site.Params.author.author__name}}'s Picture">
            </div>
          </div>

          <div class="hero__right">
            <h1 class="hero__title">{{ .Site.Params.hero.hero__title }}</h1>
            <p class="hero__description">{{ .Site.Params.hero.hero__description }}</p>
            {{ if .Site.Params.mailchimp.enable }}
            <div class="hero__subscribe">
              <form class="subscribe-form validate"
              action="https://buttondown.email/api/emails/embed-subscribe/lookingforwisdom"
              method="post"
              target="popupwindow"
              onsubmit="window.open('https://buttondown.email/lookingforwisdom', 'popupwindow')"
              class="embeddable-buttondown-form"
            >
              <label class="screen-reader-text" for="bd-email">Enter your email</label>
              <input class="subscribe-email required email" id="mce-EMAIL" type="email" name="email" id="bd-email" placeholder="Your email"/>
              <input class="button button--primary button--small subscribe-button" id="membedded-subscribe" type="submit" value="Subscribe" />
              <p class="greyout">
                Emails sent using Buttondown newsletter. You can unsubscribe at any time.
              </p>
            </form>


            </div>
            {{ end }}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author -->
{{ end }}